/**
 ** .frontpage styles
 **/

body.frontpage {
    background-image: url(../images/blue-cloud-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*body{background-color:#242424;}*/
/*MENU*/

.frontpage .top_menu {
    font-size: 150%;
    text-align: center;
}
.frontpage .top_menu a:link {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #06B6FF;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.frontpage .top_menu a:visited {
    color: White;
    text-decoration: none;
}
.frontpage .top_menu a:hover {
    color: white;
    border: 1px solid black;
    text-decoration: none;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.frontpage .title {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 200%;
    font-family: Georgia, serif;
    text-shadow: 0px 0px 10px #F8FCFD;
}
.frontpage div .text-shadow {
    text-shadow: 0px 0px 30px #F8FCFD;
}
.frontpage div .border-shadow {
    box-shadow: 0px 0px 20px #F8FCFD;
}
.frontpage div .full_height_container {
    background-color: #FCFCFC;
    border-radius: 10px;
    padding: 20px;
}
.frontpage div .opacity {
    opacity: 0.5;
}
.frontpage div .lessons-border div {
    border: 1px solid black;
    /*height:300px;*/
}
/*TEXT FORMATING*/

.frontpage .text-center {
    text-align: center;
}
.frontpage .txt-bold {
    font-weight: 900;
    font-family: Verdana, sans-serif;
}
.frontpage .text-uppercase {
    text-transform: uppercase;
}



/**
 ** .test styles
 **/

body.test {
    background-image: url(http://placehold.it/2000/ff0000/000000&text=background);
}
