
/**
 ** default styles
 **/

.top_menu {
    visibility: visible;
    display: inline;
}

.title {
    visibility: visible;
    display: inline;
}

.navbar {
    visibility: visible;
    display: inline;
}

.nav {
    visibility: visible;
    display: inline;
}
.navbar-nav {
    visibility: visible;
    display: inline;
}

.slide .navbar-form {
    visibility: visible;
    display: inline;
}

.navbar-collapse {
    visibility: visible;
    display: inline;
}


/**
 ** .frontpage styles
 **/

body.frontpage {
    background-image: url(../images/blue-cloud-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*body{background-color:#242424;}*/
/*MENU*/

.frontpage .top_menu {
    font-size: 150%;
    text-align: center;
}
.frontpage .top_menu a:link {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #06B6FF;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.frontpage .top_menu a:visited {
    color: White;
    text-decoration: none;
}
.frontpage .top_menu a:hover {
    color: white;
    border: 1px solid black;
    text-decoration: none;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.frontpage .title {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 200%;
    font-family: Georgia, serif;
    text-shadow: 0px 0px 10px #F8FCFD;
}
.frontpage div .text-shadow {
    text-shadow: 0px 0px 30px #F8FCFD;
}
.frontpage div .border-shadow {
    box-shadow: 0px 0px 20px #F8FCFD;
}
.frontpage div .full_height_container {
    background-color: #FCFCFC;
    border-radius: 10px;
    padding: 20px;
}
.frontpage div .opacity {
    opacity: 0.5;
}
.frontpage div .lessons-border div {
    border: 1px solid black;
    /*height:300px;*/
}
/*TEXT FORMATING*/

.frontpage .text-center {
    text-align: center;
}
.frontpage .txt-bold {
    font-weight: 900;
    font-family: Verdana, sans-serif;
}
.frontpage .text-uppercase {
    text-transform: uppercase;
}


/**
 ** .slide styles
 **/

body.slide {
    background-color: black;
}

/*MENU*/

.slide .top_menu {
    visibility: hidden;
    display: none;
}

.slide .title {
    visibility: hidden;
    display: none;
}

.slide .navbar {
    visibility: hidden;
    display: none;
}

.slide .nav {
    visibility: hidden;
    display: none;
}
.slide .navbar-nav {
    visibility: hidden;
    display: none;
}

.slide .navbar-form {
    visibility: hidden;
    display: none;
}

.slide .navbar-collapse {
    visibility: hidden;
    display: none;
}
.slide .slide-page-nav .glyphicon {
    color: red;
    font-size: 3.0em;
}

.slide .slide-page-nav .row {
    text-align: center;
}

.slide div .text-shadow {
    text-shadow: 0px 0px 30px #F8FCFD;
}
.slide div .border-shadow {
    box-shadow: 0px 0px 20px #F8FCFD;
}
.slide div .full_height_container {
    background-color: #FCFCFC;
    border-radius: 10px;
    padding: 20px;
}
.slide div .opacity {
    opacity: 0.5;
}
.slide div .lessons-border div {
    border: 1px solid black;
    /*height:300px;*/
}
/*TEXT FORMATING*/

.slide .text-center {
    text-align: center;
}
.slide .txt-bold {
    font-weight: 900;
    font-family: Verdana, sans-serif;
}
.slide .text-uppercase {
    text-transform: uppercase;
}

.slide .slide-image img {
    max-width: 100%;
}

.slide .page-title {
    visibility: hidden;
    display: none;
}




/**
 ** .test styles
 **/

body.test {
    background-image: url(http://placehold.it/2000/ff0000/000000&text=background);
}
